
.demo {
    font-size: 55px;
    color: yellow;
}
.box-one{
    height: 300px;
    width: 400px;
    background-color: red;
    float: left;
    margin: 10px 20px 30px 40px;
    padding-top: 250px;
    padding-left: 250px;
}
.box-two{
    height: 300px;
    width: 400px;
    background-color: green;
    float: left;
}
.box-three{
    height: 400px;
    width: 1000px;
    background-color: orange;
    float: left;
}